<!DOCTYPE html>

<head>
  <meta charset="utf-8" />

  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Majelis Ta'lim Wirausahawan - Home</title>

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/app.css">
</head>

<body>

  <div class="row">
    <div class="twelve columns">
      <img src="images/mtw-logo.png" align="left" style="margin-top: 20px;" />
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <ul class="nav-bar">
        <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScDqwdHOOPBCXccFGL-x5cajgx6stcyX10kxiX2Riro3bar3Q/viewform"
            target="_blank">Pendaftaran Anggota OMP-MTW</a></li>
        <li class="dropdown">
          <a href="javascript:void(0);" onclick="myFunction('mtw-info');" class="dropdown-btn">Info Sekitar MTW</a>
          <div id="mtw-info" class="dropdown-content">
            <a href="#">Sekilas Majelis Ta'lim Wirausaha</a>
            <a href="#">Serba-serbi MTW Jawa Barat</a>
            <a href="#">Tiga Manfaat Anggota OMP MTW</a>
            <a href="#">Artikel Seputar Organisasi MTW</a>
            <a href="#">Artikel Sekitar Produk di MTW</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" onclick="myFunction('product_category');" class="dropdown-btn">Produk per
            Kategori</a>
          <div id="product_category" class="dropdown-content">
            <a href="#">Sektor Kuliner</a>
            <a href="#">Sektor Fashion dan Handy-Craft</a>
            <a href="#">Sektor Pendidikan dan Bimbel</a>
            <a href="#">Sektor Jasa (STNK, Kebersihan, Kontraktor, dll)</a>
            <a href="#">Sektor Agri (Komoditas-Industri-Wisata Pertanian/ Peternakan/ Perikanan)</a>
            <a href="#">Sektor Properti (Jual-Beli-Sewa Rumah/ Apartemen/ Kamar)</a>
            <a href="#">Sektor IT (Pulsa, Warnet, Pembuatan Website, Konsultan, dll)</a>
            <a href="#">Sektor Kesehatan (Klinik, Herbal, Bekam, dll)</a>
            <a href="#">Sektor Perdagangan Umum</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" onclick="myFunction('product_district');" class="dropdown-btn">Produk per
            Wilayah</a>
          <div id="product_district" class="dropdown-content">
            <a href="#">Kota Bandung</a>
            <a href="#">Kabupaten Bandung</a>
            <a href="#">Kabupaten Bandung Barat</a>
            <a href="#">Kota Cimahi</a>
            <a href="#">Kabupaten Sumedang</a>
            <a href="#">Kabupaten Garut</a>
            <a href="#">Kabupaten Purwakarta</a>
            <a href="#">Kabupaten Subang</a>
            <a href="#">Kabupaten Karawang</a>
            <a href="#">Kota Bekasi</a>
            <a href="#">Kabupaten Bekasi</a>
            <a href="#">Kota Tasikmalaya</a>
            <a href="#">Kabupaten Tasikmalaya</a>
            <a href="#">Kabupaten Ciamis</a>
            <a href="#">Kota Banjar</a>
            <a href="#">Kota Cirebon</a>
            <a href="#">Kabupaten Cirebon</a>
            <a href="#">Kabupaten Indramayu</a>
            <a href="#">Kabupaten Kuningan</a>
            <a href="#">Kabupaten Majalengka</a>
            <a href="#">Kota Bogor</a>
            <a href="#">Kabupaten Bogor</a>
            <a href="#">Kota Sukabumi</a>
            <a href="#">Kabupaten Sukabumi</a>
          </div>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" onclick="myFunction('admin_contact');" class="dropdown-btn">Kontak Admin</a>
          <div id="admin_contact" class="dropdown-content">
            <a href="#">Kindly replace this with a feature in your product</a>
            <a href="#">Kindly replace this with a feature in your product</a>
            <a href="#">Kindly replace this with a feature in your product</a>
            <a href="#">Kindly replace this with a feature in your product</a>
            <a href="#">Kindly replace this with a feature in your product</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="row">
        <div class="eight columns">
          <h3>Sekilas OMP MTW Jabar</h3>
          <p>
            Puji dan Syukur kita panjatkan ke Hadirat Allah SWT yang telah memberikan kesehatan dan karunia Nya kepada
            kita semua dalam melaksanakan berbagai kegiatan. Salah satunya adalah kegiatan membantu pemasaran Ratusan
            Ribu Wirausahawan MTW di Jawa Barat.
            <br /><br />
            Penyelenggaraan pelatihan dan bantuan pemasaran Ratusan Ribu Wirausahawan di Jawa Barat telah dimulai
            berdasarkan Peraturan Gubernur Jawa Barat No.79 Tahun 2015 yang berlanjut sampai sekarang dalam kegiatan
            Roadshow SAE (Silaturahmi Akbar Ekonomi) Berjamaah MTW Jabar. Kebijakan tersebut akan memberikan jaminan
            dan kepastian eksistensi masyarakat untuk mengembangkan kewirausahaan dengan tujuan untuk melahirkan
            Wirausahawan Jawa Barat yang produktif, kreatif, mandiri dan berdaya saing.
            <br /><br />
            Pelaksanaan pelatihan dan bantuan pemasaran Ratusan Ribu Wirausahawan Jawa Barat saat sudah memasuki tahun
            ke-5 (lima), kegiatan ini dilakukan dengan cara pelatihan, pemagangan dan pendampingan melalui <b>Strategi
              Jabar Masagi</b> yaitu dalam pelaksanaanya bekerjasama dengan Akademisi, Birokrasi, Komunitas dan Dunia
            Usaha.
            <br /><br />
            Kami mengucapkan terima kasih kepada berbagai pihak yang telah mendukung terhadap pelaksanaan pelatihan dan
            bantuan pemasaran Ratusan Ribu Wirausahawan Jawa Barat, mudah-mudahan dengan program ini dapat memberikan
            solusi terhadap permasalahan pengangguran dan kemiskinan di Jawa Barat.
            <br /><br />
            Demikian sekilas Onlien Market Place Majelis Ta'lim Wirausahawan Jawa Barat, yang insya Allah akan
            berkontribusi terhadap peningkatan perekonomian Daerah Jawa Barat. Aamiin YRA.
          </p>
          <hr />
        </div>

        <div class="four columns">
          <h4>Galeri</h4>

          <!-- Trigger the Modal -->
          <img id="myImg" src="images/mtw-xbanner.jpeg" alt="Banner" style="width:100%;max-width:300px">

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- The Close Button -->
            <span class="close">&times;</span>

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>


          <br />
          <hr />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <hr />
      <p align="center">©2018 Majelis Ta'lim Wirausahawan.</p>
    </div>
  </div>

  <script src="javascripts/toggle-dropdown.js"></script>
  <script src="javascripts/image-modal.js"></script>
</body>